[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #D82C20;
    --md-accent-fg-color:        #D82C20;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #D82C20;
    --md-accent-fg-color:        #FFFFFF;
}
